﻿<h2>Excluir Candidatura</h2>
<div id="content">
    <form method="post" action="" class="well">
        <div class="element candidato">
            <label>Candidato *</label>
            <input disabled="disabled" type="text" id="candidato" name="candidato" class="text large" maxlength="255" value="<?php echo utf8_encode($this->candidatura['candidato']); ?>">
        </div>
        <div class="element vaga">
            <label>Vaga *</label>
            <input disabled="disabled" type="text" id="candidato" name="candidato" class="text large" maxlength="255" value="<?php echo utf8_encode($this->candidatura['vaga']); ?>">
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary btn-large"><i class="icon-trash"></i> Excluir</button>
        </div>
    </form>
</div>