<h2>Listar candidaturas</h2>
<div id="content">
    <form method="post">
        <table class="table table-striped table-bordered table-condensed">
            <caption>Total: <?php echo $this->total; ?></caption>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="nome">Nome</th>
                    <th class="vaga">Vaga</th>
                    <th class="cadastro">Cadastro</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <?php

                $linha = false;
                foreach($this->result as $key => $value):
                ?>
                <tr class="<?php if($linha): ?>impar<?php $linha = false; else: ?>par<?php $linha = true; endif; ?>">
                    <td class="id">
                        <div><?php echo $value['id']; ?></div>
                    </td>
                    <td class="nome">
                        <div><?php echo utf8_encode($value['nome']); ?></div>
                    </td>
                    <td class="vaga">
                        <div><?php echo utf8_encode($value['vaga']); ?></div>
                    </td>
                    <td class="cadastro">
                        <div><?php echo $value['cadastro']; ?></div>
                    </td>
                    <td class="options">
                        <div class="btn-group">
                            <a href="<?php echo SERVER; ?>editar/<?php echo $value['id']; ?>" rel="tooltip" class="btn" data-original-title="Editar"><i class="icon-pencil"></i></a>
                            <a href="<?php echo SERVER; ?>excluir/<?php echo $value['id']; ?>" rel="tooltip" class="btn" data-original-title="Excluir"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </form>
</div>