﻿<h2>Editar Candidatura</h2>
<div id="content">
    <form method="post" action="" class="well">
        <div class="element candidato">
            <label>Candidato *</label>
            <select required="required" name="candidato" id="candidato">
                <?php foreach($this->candidatos as $index): ?>
                <option<?php if($index['id'] == $this->candidatura['candidato']) echo ' selected="selected"' ?> value="<?php echo $index['id']; ?>"><?php echo utf8_encode($index['nome']); ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="element vaga">
            <label>Vaga *</label>
            <select required="required" name="vaga" id="vaga">
                <?php foreach($this->vagas as $index): ?>
                <option<?php if($index['id'] == $this->candidatura['vaga']) echo ' selected="selected"' ?> value="<?php echo $index['id']; ?>"><?php echo utf8_encode($index['nome']); ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary btn-large"><i class="icon-pencil"></i> Editar</button>
        </div>
    </form>
</div>