*
{
    outline: 0 !important;
}

.page-header h1
{
    width: 281px;
    height: 83px;
}

.page-header h1 a
{
    display: block;
    text-indent: -9999em;
    width: 100%;
    height: 100%;
    background: url("../../site/images/logo.jpg");
}

#alert ul,
.system-messages
{
    margin: 0 0 5px;
}

#alert li,
.system-messages li
{
    list-style: none;
}

#login input
{
    width: 24em;
}

#login .submit
{
    text-align: center;
    margin-top: 30px;
}

div.button
{
    margin-top: 20px;
}

textarea
{
    width: 90%;
    resize: vertical;
}

td.options
{
    min-width: 62px;
}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.element
{
    select
    {
        border-radius: 3px;
        border: 1px solid #CCCCCC;
        border-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }

    &.boolean
    {
        margin: 20px 10px;
    }

    &.select
    {
        margin-bottom: 10px;
    }
}

.select2-container
{
    margin-bottom: 10px;
    ul
    {
        border-radius: 3px;
        border: 1px solid #CCCCCC;
        border-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
}

.swfupload
{
    height: 40px;
    width: 142px;
}