@import '../../vendor/bootstrap/lib/variables'; // Modify this for custom colors, font-sizes, etc
@import '../../vendor/bootstrap/lib/mixins';

$defaultBase: #304dae;
$defaultBaseDark: #374881;
$defaultBarLink: #dcddde;
$defaultButton: #fedb21;
$defaultButtonDark: #ffc426;

$sansFontFamily: Arial, Helvetica, sans-serif;
$baseFontFamily: $sansFontFamily;
$linkColor: $defaultBase;
$linkColorHover: $defaultBaseDark;
$btnPrimaryBackground: $defaultButton;
$btnPrimaryBackgroundHighlight: $defaultButtonDark;
$btnInfoBackground: $defaultBase;
$btnInfoBackgroundHighlight: $defaultBaseDark;
$navbarBackground: $defaultBaseDark;
$navbarBackgroundHighlight: $defaultBase;
$navbarLinkBackgroundActive: $defaultBaseDark;
$navbarLinkColor: $defaultBarLink;

// CSS Reset
@import '../../vendor/bootstrap/lib/reset';

// Grid system and page structure
@import '../../vendor/bootstrap/lib/scaffolding';
@import '../../vendor/bootstrap/lib/grid';
@import '../../vendor/bootstrap/lib/layouts';

// Base CSS
@import '../../vendor/bootstrap/lib/type';
@import '../../vendor/bootstrap/lib/code';
@import '../../vendor/bootstrap/lib/forms';
@import '../../vendor/bootstrap/lib/tables';


// Font Awesome
@import 'font-awesome';

// Components: common
@import '../../vendor/bootstrap/lib/dropdowns';
@import '../../vendor/bootstrap/lib/wells';
@import '../../vendor/bootstrap/lib/component-animations';
@import '../../vendor/bootstrap/lib/close';

// Components: Buttons & Alerts
@import '../../vendor/bootstrap/lib/buttons';
@import '../../vendor/bootstrap/lib/button-groups';
@import '../../vendor/bootstrap/lib/alerts'; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import '../../vendor/bootstrap/lib/navs';
@import '../../vendor/bootstrap/lib/navbar';
@import '../../vendor/bootstrap/lib/breadcrumbs';
@import '../../vendor/bootstrap/lib/pagination';
@import '../../vendor/bootstrap/lib/pager';

// Components: Popovers
@import '../../vendor/bootstrap/lib/modals';
@import '../../vendor/bootstrap/lib/tooltip';
@import '../../vendor/bootstrap/lib/popovers';

// Components: Misc
@import '../../vendor/bootstrap/lib/thumbnails';
@import '../../vendor/bootstrap/lib/labels-badges';
@import '../../vendor/bootstrap/lib/progress-bars';
@import '../../vendor/bootstrap/lib/accordion';
@import '../../vendor/bootstrap/lib/carousel';
@import '../../vendor/bootstrap/lib/hero-unit';

// Utility classes
@import '../../vendor/bootstrap/lib/utilities'; // Has to be last to override when necessary

@import '../../vendor/bootstrap/lib/responsive-utilities';

// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import '../../vendor/bootstrap/lib/responsive-767px-max';

// Tablets to regular desktops
@import '../../vendor/bootstrap/lib/responsive-768px-979px';

// Large desktops
@import '../../vendor/bootstrap/lib/responsive-1200px-min';


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import '../../vendor/bootstrap/lib/responsive-navbar';
