/*!
* jqAmp UI Spinner v1.0 (for jQuery/jQuery UI)
*
* Copyright 2012, Tony Kramer
* Dual licensed under the MIT or GPL Version 2 licenses.
* https://github.com/flamewave/jqamp-ui-spinner/raw/master/GPL-LICENSE.txt
* https://github.com/flamewave/jqamp-ui-spinner/raw/master/MIT-LICENSE.txt
*/

/*
* For documentation and for the latest version, see:
* https://github.com/flamewave/jqamp-ui-spinner
*
* CSS Classes applied to element's container (span tag - added in widget creation)
* .ui-spinner
* .ui-spinner-inside
* .ui-spinner-outside
* .ui-spinner-stacked
* .ui-spinner-adjacent
* .ui-spinner-disabled
* .ui-spinner-readonly
* .ui-spinner-nobuttons
*
* CSS Classes applied to element (input tag)
* .ui-spinner-input
*
* CSS Classes applied to buttons (a tags)
* .ui-spinner-button
* .ui-spinner-up
* .ui-spinner-down
*/
.ui-spinner { position: relative; display: inline-block; overflow: hidden; padding: 0; vertical-align: middle; }
.ui-spinner-input { vertical-align: middle; }
.ui-spinner-button { font-size: .5em; padding: 0; margin: 0; z-index: 1; text-align: center; vertical-align: middle; position: absolute; cursor: default; display: block; overflow: hidden; }
.ui-spinner .ui-icon { position: absolute; margin-top: -8px; top: 50%; left: 0; } /* vertical centre icon */

.ui-spinner.ui-spinner-outside { border: none; }
.ui-spinner.ui-spinner-outside.ui-spinner-adjacent .ui-spinner-button { height: 1.55em; }
.ui-spinner.ui-spinner-outside.ui-spinner-stacked .ui-spinner-button { width: 20px; height: 12px; line-height: 12px; padding: 0 }

.ui-spinner.ui-spinner-inside .ui-spinner-input { padding: 0 1px 0 0; margin: .2em .4em; } /* IE requires a right padding of 1px otherwise the cursor becomes hidden when the input is empty */
.ui-spinner.ui-spinner-inside a.ui-spinner-button { border-top: none; border-bottom: none; border-right: none; } /* more specificity required here to overide default borders */
.ui-spinner.ui-spinner-inside.ui-spinner-adjacent .ui-spinner-button { height: 100%; }
.ui-spinner.ui-spinner-inside.ui-spinner-stacked .ui-spinner-button { height: 53%; }
.ui-spinner.ui-spinner-inside.ui-spinner-stacked .ui-spinner-down .ui-icon { left: -1px; } /* Fix icon alignment */

.ui-spinner.ui-spinner-stacked .ui-spinner-input { margin-right: 22px; }
.ui-spinner.ui-spinner-stacked .ui-spinner-button { width: 16px; right: 0; }
.ui-spinner.ui-spinner-stacked .ui-spinner-up { top: 0; border-radius: 0 3px 0 0 !important }
.ui-spinner.ui-spinner-stacked .ui-spinner-down { bottom: 0; border-radius: 0 0 3px 0 !important }

.ui-spinner.ui-spinner-adjacent .ui-spinner-input { margin-right: 38px; }
.ui-spinner.ui-spinner-adjacent .ui-spinner-button { width: 16px; top: 0; }
.ui-spinner.ui-spinner-adjacent .ui-spinner-up { right: 17px; }
.ui-spinner.ui-spinner-adjacent .ui-spinner-down { right: 0; }


/* TR overrides */
span.ui-spinner { background: none; }