﻿<?php header('Content-Type: text/html; charset=utf-8'); ?>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href="<?php echo SERVER; ?>assets/vendor/imgareaselect/css/imgareaselect-default.css">
        <link rel="stylesheet" media="screen" href="<?php echo SERVER; ?>assets/vendor/uploadify/uploadify.css">
        <link rel="stylesheet" media="screen" href="<?php echo SERVER; ?>assets/vendor/colorbox/example2/colorbox.css">
        <link href="<?php echo SERVER; ?>assets/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
        <link href="<?php echo SERVER; ?>assets/vendor/jqueryui/css/custom-theme/jquery-ui-1.8.22.custom.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="<?php echo SERVER; ?>assets/common/scripts/spinner/jqamp-ui-spinner.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="<?php echo SERVER; ?>assets/base/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="<?php echo SERVER; ?>assets/base/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />

        <!--[if lte IE 8]>
           <link href="<?php echo SERVER; ?>assets/base/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <link rel="shortcut icon" href="<?php echo SERVER; ?>assets/site/images/favicon.ico">
        <script src="<?php echo SERVER; ?>assets/vendor/json2/json2.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/jquery/jquery-1.7.2.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/jqueryui/js/jquery-ui-1.8.22.custom.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/common/scripts/jquery.ui.datepicker-pt-BR.js"></script>
        <script src="<?php echo SERVER; ?>assets/common/scripts/jquery-ui-timepicker-addon.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/spinner/depends/globalize.js"></script>
        <script src="<?php echo SERVER; ?>assets/common/scripts/spinner/jqamp-ui-spinner.js"></script>
        <script src="<?php echo SERVER; ?>assets/common/scripts/spinner/jqamp-ui-spinner-numeric.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/bootstrap/docs/assets/js/bootstrap.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/maskedinput/jquery-maskedinput.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/select2/select2.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/imgareaselect/scripts/jquery.imgareaselect.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/colorbox/colorbox/jquery.colorbox-min.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/ckeditor/ckeditor.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/ckeditor/adapters/jquery.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/uploadify/jquery.uploadify-3.1.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/vendor/imgscale/imgscale.jquery.min.js"></script>
        <script src="<?php echo SERVER; ?>assets/base/js/base.js"></script>

        <title>Prova e-Net</title>
        <link rel="shortcut icon" href="<?php echo SERVER; ?>assets/common/images/favicon.ico">
    </head>
