<?php include('_admin_header.phtml'); ?>
<body class="front">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1><a href="<?php echo SERVER; ?>listar/"><?php echo $this->title; ?></a></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2" id="sidebar">
                <ul class="nav nav-list">
                    <li class="item-1 nav-header li">
                        <i class="icon-pushpin"></i>Vagas
                    </li>
                    <li class="item-1 li"><a title="Informática" href="#" class="item-1 a">Vagas</a></li>
                    <li class="item-1 active li">
                        <a title="Vagas" href="<?php echo SERVER; ?>listar/" class="item-1 active a">Candidaturas</a>
                    </li>
                    <li class="item-1 divider li"></li>
                    <li class="item-1 li">
                        <a title="Sair" href="#" class="item-1 a"><i class="icon-off"></i>Sair</a>
                    </li>
                </ul>
            </div>
            <div class="span10" id="main">
                <div class="row">
                    <div class="navbar span10">
                        <div class="navbar-inner">
                            <div class="container">
                                <ul class="nav">
                                    <li class="item-1 first li<?php if($this->index == 'listar') echo ' active'; ?>">
                                        <a title="Listagem" href="<?php echo SERVER; ?>listar/" class="item-1 first active a">Listagem</a>
                                    </li>
                                    <li class="item-1 li<?php if($this->index == 'novo') echo ' active'; ?>">
                                        <a title="Novo registro" href="<?php echo SERVER; ?>novo/" class="item-1 a">Novo registro</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="alert" class="span10">
                        <?php display_system_events(); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="span10">
                        <?php echo $this->content; ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="hide" id="filemanager_modal" title="Gerenciador de arquivos">
            <table border="0" cellspacing="0" cellpading="0" style="width: 100%; height: 100%;">
                <tr>
                    <td width="width: 100%; height: 100%; border: 0">
                        <iframe id="iframe_filemanager" style="height: 490px; width: 100%" frameborder="0" allowtransparency="true">

                        </iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <?php include('_admin_footer.phtml'); ?>
</body>
</html>